html, body {
	background: black;
	margin:0 auto;
	height:100%;
	width: 720px;
}

p {
	vertical-align:middle;
	display: inline-block;
}

.strut {
	display:inline-block;
    vertical-align:middle;
    height: 100%;
}
